# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Logs
*.log

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Flask instance folder
instance/

# Screenshots
screenshots/

# OAuth / Auth / Tokens
.env
token.pickle
token.pickle.b64
token.json
credentials.json
service_account.json

# Caches
.cache/
.ruff_cache/
.pytest_cache/
.mypy_cache/
.pytype/
.pyre/

# Coverage/test tools
.coverage
coverage.xml
htmlcov/

# Jupyter notebooks
.ipynb_checkpoints/

# Misc
*.egg-info/
dist/
build/